.breadcrumb-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #e9ecef;
}

nav ol {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding-left: 0;
}

nav ol li {
  color: #495057;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}

nav .active {
  color: #1f5fac;
  position: relative;
  margin-right: 15px;
  font-weight: 600;
}

nav .active::after {
  content: ">";
  position: absolute;
  right: -15px;
  color: #1f5fac;
}

nav label {
  color: #343a40;
  padding: 3px 6px;
  background: #f8f9fa;
  border: 1px solid #e9ecef;
  border-radius: 5px;
}

.breadcrumb-wrapper button {
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 6px;
  padding: 8px 12px;
  box-shadow: 0px 1px 2px 0px #1018280d;
  font-size: 13px;
  color: #343a40;
  margin-left: 15px;
  cursor: pointer;
}
